### Step 1: Load and preview the data

In [1]:
#Importing Libraries
import pandas as pd

In [2]:
#Load the CSV file
df = pd.read_csv(r"D:/Projects/career-counsellor-ml/data/raw/cs_students.csv")

In [4]:
#Show the shape and top 5 rows
print("Shape of the dataset : ", df.shape)
df.head()

Shape of the dataset :  (180, 12)

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
0,1,John Smith,Male,21,3.5,Computer Science,Artificial Intelligence,Chatbot Development,Machine Learning Researcher,Strong,Strong,Weak
1,2,Alice Johnson,Female,20,3.2,Computer Science,Data Science,Data Analytics,Data Scientist,Average,Strong,Weak
2,3,Robert Davis,Male,22,3.8,Computer Science,Software Development,E-commerce Website,Software Engineer,Strong,Strong,Average
3,4,Emily Wilson,Female,21,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Weak,Strong,Strong
4,5,Michael Brown,Male,23,3.4,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong

### Step 2: Understand the columns

In [6]:
#Understanding the data types of columns and its properties
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Student ID         180 non-null    int64
 1   Name               180 non-null    object
 2   Gender             180 non-null    object
 3   Age                180 non-null    int64
 4   GPA                180 non-null    float64
 5   Major              180 non-null    object
 6   Interested Domain  180 non-null    object
 7   Projects           180 non-null    object
 8   Future Career      180 non-null    object
 9   Python             180 non-null    object
 10  SQL                180 non-null    object
 11  Java               180 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 17.0+ KB

In [9]:
#Understand a few statistics of the dataset
df.describe(include = "all")

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
count,180.000000,180,180,180.000000,180.000000,180,180,180,180,180,180,180
unique,NaN,89,2,NaN,NaN,1,27,65,33,3,3,3
top,NaN,James Wilson,Male,NaN,NaN,Computer Science,Artificial Intelligence,Natural Language Processing,Web Developer,Strong,Strong,Strong
freq,NaN,8,102,NaN,NaN,180,19,14,19,70,79,69
mean,90.500000,NaN,NaN,22.116667,3.615000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,52.105662,NaN,NaN,2.823040,0.177341,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,20.000000,3.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,45.750000,NaN,NaN,21.000000,3.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,90.500000,NaN,NaN,22.000000,3.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,135.250000,NaN,NaN,22.250000,3.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,180.000000,NaN,NaN,37.000000,3.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 3: Check for missing values

In [12]:
df.isnull().sum()

Student ID           0
Name                 0
Gender               0
Age                  0
GPA                  0
Major                0
Interested Domain    0
Projects             0
Future Career        0
Python               0
SQL                  0
Java                 0
dtype: int64